{% extends 'base.html' %}
{% load static %}
{% block title %}Home | GymBukTu{% endblock %}

{% block bg_image %}{% static 'images/pexels-victorfreitas-841130.jpg' %}{% endblock %} <!-- Unique background image can go here -->

{% block content %}
<!-- Hero Section -->
<section class="hero text-center">
    <div class="container">
        <h1>Sign Up Today for High-Quality Classes and Facilities!</h1>
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
    </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="testimonial">
                    <img src="https://res.cloudinary.com/dvwgc99nz/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1736947706/samples/smile.jpg" alt="Gym Goer" class="testimonial-img">
                    <p>Positive feedback from gym goer</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <img src="https://res.cloudinary.com/dvwgc99nz/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1736947702/samples/two-ladies.jpg" alt="Gym Goer" class="testimonial-img">
                    <p>Positive feedback from gym goer</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="testimonial">
                    <img src="https://res.cloudinary.com/dvwgc99nz/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1736947698/samples/people/smiling-man.jpg" alt="Gym Goer" class="testimonial-img">
                    <p>Positive feedback from gym goer</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}