{% extends 'base.html' %}
{% load static %}
{% block title %}Home | GymBukTu{% endblock %}


{% block content %}
<!-- Hero Section -->
<section class="hero text-center" role="banner" aria-label="Hero Section">
    <div class="container">
        <h1>Sign Up Today for High-Quality Classes and Facilities!</h1>
        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
    </div>
</section>

<!-- Testimonials -->
<div class="testimonials text-center">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="testimonial">
                    <img src="https://res.cloudinary.com/dvwgc99nz/image/upload/w_200,h_200,c_fill,r_max/v1736947706/samples/smile.jpg" alt="Gym Goer" class="testimonial-img" loading="lazy">
                    <p>"Great gym! Love the facilities and the trainers!"</p>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <img src="https://res.cloudinary.com/dvwgc99nz/image/upload/w_200,h_200,c_fill,r_max/v1736947702/samples/two-ladies.jpg" alt="Gym Goer" class="testimonial-img" loading="lazy">
                    <p>"Best gym experience ever, highly recommend!"</p>
                </div>
            </div>
            <div class="col">
                <div class="testimonial">
                    <img src="https://res.cloudinary.com/dvwgc99nz/image/upload/w_200,h_200,c_fill,r_max/v1736947698/samples/people/smiling-man.jpg" alt="Gym Goer" class="testimonial-img" loading="lazy">
                    <p>"Amazing atmosphere and top-notch equipment!"</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
