{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center pt-5">
    <div class="col-10 col-md-6 col-lg-4">
        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Login</h2>

            <!-- Login Form -->
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_username" class="form-label">Username</label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="id_password" class="form-label">Password</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>

            <!-- Forgot Password Link -->
            <div class="text-center mt-3">
                <a href="{% url 'password_reset' %}" class="text-muted">Forgot Password?</a>
            </div>
            <!-- Sign up link -->
            <div class="text-center mt-3">
                <p>Don't have an account?</p>
                <a href="{% url 'signup' %}" class="btn btn-outline-secondary">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
