{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block bg_image %}{% endblock %} <!-- Unique background image can go here -->

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center mb-4">Login</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-3">
            <p>Don't have an account?</p>
            <a href="{% url 'signup' %}" class="btn btn-link">Sign Up</a>
        </div>
    </div>
</div>
{% endblock %}