{% extends "base.html" %}
{% block title %}Password Reset Successful{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center pt-5">
    <div class="col-10 col-md-6 col-lg-4">
        <div class="card shadow p-4 text-center">
            <h2 class="mb-3">Password Reset Successful</h2>
            <p>You can now log in with your new password.</p>
            <a href="{% url 'login' %}" class="btn btn-primary w-100">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}
