{% extends "base.html" %}
{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center pt-5">
    <div class="col-10 col-md-6 col-lg-4">
        <div class="card shadow p-4">
            <h2 class="text-center mb-4">Set a New Password</h2>

            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_new_password1" class="form-label">New Password</label>
                    {{ form.new_password1 }}
                </div>
                <div class="mb-3">
                    <label for="id_new_password2" class="form-label">Confirm New Password</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="btn btn-primary w-100">Update Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
